.hero{
    background-color: rgba(254, 171, 222, 1);
    min-height: 450px;
    padding: 40px 0;
}

.container-image-about{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 2px 13px;
}

.title-hero{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;;
    font-weight: 600;
}


.container-image{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.image-hero{
    
    border: 3px solid rgb(253, 184, 253);
    border-radius: 8px;
    background: linear-gradient(#f7b5e8,#f36ae1, #ee3fab);
    display: flex;
    width: 40%;
}

.container-btn{
    cursor: pointer;
    font-size: 14pxS;
    margin-top: 1%;
    margin-bottom: 10px;
    border: 2px solid #54cfbf;  /* este color debe quedar en el turquesa */
    color: #fff;
    background-color: #54cfbf;
    font-weight: 500;
    border-radius: 7px;
    transition: all .3s ease;
    padding: 6px 12px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: auto;
}

.container-btn a{
    color:#fff;
    text-decoration: none;
}

.container-btn:hover {
    background:  rgba(254, 171, 222, 1);
    color:  #19ad99;
}

.container-networks-social{
    text-align: center;
    display: flex;
    flex-direction: row;
    /* align-content: center;
    justify-content: center; */
    justify-content: space-evenly;
    margin-top: 4%;
}

.social-icons a{
    font-size: 40px;
    color: #19ad99;
}

@media only screen and (min-width: 768px) {
    .container-image-about{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
   }