*{
    border: 0;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
}

html{
  scroll-behavior: smooth;
  }

body {
  background-color: rgba(254, 171, 222, 1)
}

section[id] {
    scroll-margin-top: 70px;
}

